#myName {
  font-size: 42px;
  color: green;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
}

#myName:hover {
  transform: scale(1.5);
}

#myName:active {
  transform: scale(0.5);
}

#myBio {
  font-size: 34px;
  color: blue;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
}

#unOrderedList {
  font-size: 24px;
  color: yellow;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  text-shadow: 2px 2px 2px #000000;
}
